
# /etc/rsyslog.d/{{ non-syslog-logfile }}
input(type="imfile"
      File="{{ logdir }}/{{ sublogdir }}/{{ non-syslog-logfile }}"
      Tag="{{ log-tag }}"
)

if $programname == 'nova-api-metadata' then {
    action(
      type="omfwd"
      Target="{{ InjestIP }}"
      Port="{{ InjestPortSyslog }}"
      Protocol="{{ InjestProto }}"
    )
    stop
}

