# /etc/rsyslog.d/{{ rsyslog_forwarder_filename }}
{{ rsyslog_extra_options_before_sending }}
*.*;syslog.* action(
  type="omfwd"
  Target="{{ InjestIP }}"
  Port="{{ InjestPortSyslog }}"
  Protocol="{{ InjestProto }}"
{% if InjestProto == "tcp" and rsyslog_ver_major|default(8)|int >= 8 %}
  KeepAlive="on"
  ResendLastMSGOnReconnect="on"
{% endif %}
)

