# /etc/rsyslog.d/60-logging-elks
*.*;syslog action(
  type="omfwd"
  Target="{{ InjestIP }}"
  Port="{{ InjestPortSyslog }}"
  Protocol="{{ InjestProto }}"
{% if InjestProto == "tcp" and rsyslog_ver_major|int >= 8 %}
  KeepAlive="on"
  ResendLastMSGOnReconnect="on"
{% endif %}
)

